.calendar {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.calendar .time-status {
  display: flex;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.calendar > div:nth-child(1) {
  cursor: pointer;
}

.calendar .calendar-content {
  min-height: 14rem;
}

.calendar .time-status > div > span {
  display: inline-block;
  border-radius: 10%;
  margin-right: 1rem;
  width: 12px;
  height: 12px;
}

.calendar .time-status > div > p {
  display: inline-block;
}

.calendar .tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.calendar .tags button {
  color: #ffffff;
  background: #280444;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin: 3px;
  font-size: 1rem;
}

.calendar-content .header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 8px;
}

.calendar .header h1 {
  letter-spacing: 2px;
  font-weight: bold;
}

.calendar .calendar-content .content-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.calendar .content-cards .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  height: 200px;
  width: 300px;
  text-align: center;
  background: #280444;
  margin: 1rem;
  position: relative;
  cursor: auto;
  border-radius: 8px;
  overflow: hidden;
}

.calendar .card-title h2 {
  font-weight: 500;
}

.calendar .card-date h3,
.card-time h4 {
  font-weight: 100;
}

.calendar .card-title {
  margin-bottom: 1.2rem;
}

.calendar .card-date {
  line-height: 2rem;
}

.calendar .status {
  position: absolute;
  top: 0;
  margin: 3px;
}

.calendar .status p span {
  display: inline-block;
  border-radius: 10%;
  width: 12px;
  height: 12px;
}

.calendar .number {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  width: 30px;
  height: 30px;
  border-bottom-left-radius: 20px;
}

.calendar .back-btn span{
  position: absolute;
  top: 0;
  right: 5rem;
  color:greenyellow;
}

@media screen and (max-width: 600px) {
  .calendar .tags {
    width: 80%;
  }
  .calendar .tags button {
    margin: 4px 1px;
    padding: 4px;
  }
  .calendar .back-btn {
    display: none;
  }
}


/* adding to google calendar */

.add-to-gc{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1.8rem;
  /* background: white; */
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  color: palegoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  transition: all 0.5s ease;
}

.add-to-gc-btn{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 200px;
  border-top-right-radius: 50%;
  background: #4081ec;
  z-index: 0;
  transition: all 0.3s ease;
}

.add-to-gc-btn button{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 4px 0;
  color: #4081ec;
  transition: all 0.5s ease;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.add-to-gc-btn.displayed{
  width: 0;
  height: 0;
}

.add-to-gc-btn.displayed button{
  transform: scale(0);
}