*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.main-chart{
    width: 80%;
    height: 400px;
}

select{
    margin-top: 2rem;
    padding: 5px;
    border: none;
    background-color: cyan;
    border-radius: 3px;
    cursor: pointer;
}

select > :nth-child(odd){
    background: rgb(46, 255, 255);
}
