@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: wheat;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.5)),url(./images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

.heading h1{
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 300;
    color: #fff;
    font-weight: bolder;
    position: relative;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin-top: 2.5rem;
}


.input,.output{
    position: relative;
    padding: 10px;
    padding-top: 20px;
    min-height: 60vh;
    height: auto;
    border: 1px solid wheat;
    width: 50%;
}


.input{
    transform: translateX(50%);
    z-index: 100;
}

.output{
     transform: translateX(-50%);
     visibility: hidden;
}

.inputAnimation{
    animation: inputAnim 1s ease 1;
    animation-fill-mode: forwards;
}

.outputAnimation{
    animation: outputAnim 1s ease 1;
    animation-fill-mode: forwards;
}

@keyframes inputAnim {
    100%{
        transform: translateX(0);
    }
}

@keyframes outputAnim {
    100%{
        visibility: visible;
        transform: translateX(0);
    }
}

.legend{
    position: absolute;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    margin-left: auto;
    margin-right: auto;
    background: #000;
    padding: 3px;
    font-size: 1.4rem;
    color: wheat;
    border-radius: 5px;
}

.input-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.date{
    display: flex;
    justify-content: center;
    align-items: center;
}

.date > input,select{
    margin: 2rem 0;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    width:120px;
    background: transparent;
    color: wheat;
}

.output-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    height: 100%;
    font-size: 1.2rem;
}

.output h3{
    margin: 1rem 0;
}

h3{
  /* color: #fff;   */
  letter-spacing: 2px;
  font-weight: 550;
  font-size: larger;
}

ul{
    list-style-type: none;
    padding: 10px;
    /* color: #fff; */
}

ul > li{
    margin: 0.6rem;
    font-weight: 500;
}

li::before{
    content: "- ";
    color: wheat;
}

.calculate-btn{
    padding:5px;
    background: transparent;
    color: wheat;
    border: 1px solid wheat;
    font-size: larger;
    cursor: pointer;
}
a{
    text-decoration: none;
}

@media screen and (max-width:800px) {
    .main{
        flex-direction: column;
        width: 90%;
        padding: 0;
    }
    .output,.input{
        width: 100%;
        transform: translateX(0);
    }
    .output{
        transform: translateY(-100%);
        margin: 2rem 0;
        display: none;
    }
    .date > input{
        width: 85px;
    }
}