@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #00acee;
    color: beige;
    font-family: 'Roboto Slab', serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container div{
    margin: 1rem;
}

.question{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.options ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
}

.options{
    display: flex;
    align-items: center;
    width: 50%;
}

.options ul li{
    background: white;
    color: black;
    text-align: center;
    padding: 10px;
    width: 20%;
}

