@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
}

.heading{
    position: sticky;
    top: 0;
    background: rgb(58, 12, 163);
    color: rgb(255, 255, 255);
    padding: 5px;
}

h1{
    text-align: center;
    font-family: "Poppins";
}

.content{
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Poppins",sans-serif;
    letter-spacing: 2px;
    line-height: 2rem;
}

span{
    display: inline-block;
    width: 100px;
    color: cyan;
}

.progressbar {
  position: fixed;
  bottom: 0;
  height: 10px;
  width: 100%;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.12);
}
.bar {
    position: absolute;
    background: #4361ee;
    height: 10px;
    top: 0;
    width: 0%;
    transition: opacity 0.5s;
}


@media screen and (max-width:600px) {
    span{
        text-align: center;
        width: 100%;
        display: block;
    }
}

