*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
Styles for Preloader Container
*/
.preloader-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background: #1560b8;
}