body {
        margin: 0;
      }
      canvas {
        width: 100%;
        height: 100%;
      }
      .text {
        position: absolute;
        color: white;
        background: red;
        padding: 5px 10px;
        border-radius: 20px;
        border-bottom-right-radius: 0px;
        transform-origin: center;
        visibility: hidden;
      }
