@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:rgba(2, 6, 24, 0.5);
    font-family: 'Roboto Slab', serif;
    color: white;
    overflow-y: hidden;
    letter-spacing: 1px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;  
}

.container h1,h2{
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    margin: 0.5rem;
    text-transform: uppercase;
    text-align: center;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.text p{
    display: none;
    background: blueviolet;
    opacity: 0.5;
    justify-content: center;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 2px;
    font-weight: bolder;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30rem;
}

.img img{
    width: 50%;
    height: 70%;
    border-radius: 10px;
}

.contextMenu{
    position: absolute;
    display: none ;
    top: 0;
    left: 0;
    z-index: 1000;
    background: blueviolet;
    width: 20rem;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.9;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu span{
    padding: 5px;
    background: rgb(37, 11, 88);
    border-radius:5px;
    letter-spacing: 1px;
    cursor: pointer;
}

input{
    padding: 4px;
    border-radius: 2px;
    border: none;
    outline: none;
}

.menu h1{
    color: white;
    font-weight: lighter;
}

.menu :nth-child(n){
    margin: 0.5rem;
}

button{
    border: none;
    outline: 1px solid white;
    padding: 5px;
    background: blueviolet;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in
}

button:hover{
    background: rgba(37, 11, 88,0.4)
}


@media screen and (max-width:800px) {
    .img{
        width: 100%;
    }
    body{
        overflow-y: auto;
    }
    .img img{
        width: 70%;
    }
}
